<div class="header">
  <h1>HISTORY</h1>
  <button (click)="goBack()" class="back-button submit-btn">Regresar</button>
</div>
  <div style="display: flex; justify-content: center;">
    <table class="table">
      <thead>
        
        <tr>
          <th scope="col">#</th>
          <th scope="col">Jugador 1</th>
          <th scope="col">Jugador 2</th>
          <th scope="col">Estado</th>
          <th scope="col">Detalles de Juego</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of historys">
          <th scope="row">{{history.id}}</th>
          <td>
            <div>{{history.jugador1}}</div>
            <div class="stats">
              <small>Tiros: {{history.tiros_jugador1 || 0}}</small>
              <small>Aciertos: {{history.aciertos_jugador1 || 0}}</small>
            </div>
          </td>
          <td>
            <div>{{history.jugador2}}</div>
            <div class="stats">
              <small>Tiros: {{history.tiros_jugador2 || 0}}</small>
              <small>Aciertos: {{history.aciertos_jugador2 || 0}}</small>
            </div>
          </td>
          <td [ngStyle]="{'background-color': history.is_active ? 'forestgreen' : 'brown', 'color': 'white'}">
            {{ history.is_active ? 'En curso' : 'Finalizada' }}
          </td>
          <td>
            <div>Ganador: {{history.ganador || 'Sin ganador'}}</div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>